<div class="container">
  <div *ngIf="showNavBar === 'show'" class="nav-row-container">
    @for (item of pages; track item.name) {
      <button class="nav-button"
              [ngClass]="{'nav-button-active': item.isActive, 'nav-button-inactive': !item.isActive}"
              [routerLink]="[item.linkTo]">
        <p class="nav-name">{{ item.name }}</p>
      </button>
    }
  </div>
  <div *ngIf="showNavBar === 'auth'" class="nav-row-container">
    @for (item of authSites; track item.name) {
      <button class="nav-button"
              [ngClass]="{'nav-button-active': item.isActive, 'nav-button-inactive': !item.isActive}"
              [routerLink]="[item.linkTo]">
        <p class="nav-name">{{ item.name }}</p>
      </button>
    }
  </div>
</div>
