<form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
  <h2>{{ mode === 'edit' ? "Edit" : "Create" }} Payment</h2>

  <div class="form-group">
    <label>Description</label>
    <input type="text" formControlName="description"/>
    <small *ngIf="paymentForm.get('description')?.touched && paymentForm.get('description')?.invalid">
      Description is required
    </small>
  </div>

  <div class="form-group">
    <label>Amount</label>
    <input type="number" formControlName="amount"/>
    <small *ngIf="paymentForm.get('amount')?.touched && paymentForm.get('amount')?.invalid">
      Amount is required and must be positive
    </small>
  </div>

  <div class="form-group">
    <label>Paid By</label>
    <mat-form-field appearance="fill" class="full-width">
      <mat-select formControlName="paidBy">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{ user.firstName }} {{ user.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <small *ngIf="paymentForm.get('paidBy')?.touched && paymentForm.get('paidBy')?.invalid">
      A user is required
    </small>
  </div>

  <div class="form-group">
    <label>Paid to</label>
    <mat-form-field appearance="fill" class="full-width">
      <mat-select formControlName="paidTo">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{ user.firstName }} {{ user.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <small *ngIf="paymentForm.get('paidTo')?.touched && paymentForm.get('paidTo')?.invalid">
      A user is required
    </small>
  </div>

  <div class="dialog-actions">
    <button type="submit" mat-button color="primary">Save</button>
    <button type="button" mat-button (click)="onCancel()" color="warn">Cancel</button>
  </div>
</form>
